@use "../../../variables/variables.scss" as var;
@use "../../../variables/mixins.scss" as mix;

.steps-section {
  position: relative;
  background-color: var.$color-background-gray;
  &__titles {
    text-align: center;
    opacity: 0;
    & div {
      justify-content: center;
    }

    &--animate {
      animation: slideInUp 1s ease forwards;
    }
  }
}

.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2rem;
  padding: 12rem 0 8rem;
  font-size: 1.8rem;
  opacity: 0;

  &--animate {
    animation: slideInUp 1s ease forwards 0.3s;
  }

  &__item {
    position: relative;
    padding: 4rem 3rem;
    max-width: 28rem;
    border-radius: 1rem;
    background-color: var.$color-white;
    box-shadow: 0 0 1rem rgba(var.$color-black, 0.1);
    transition: box-shadow 0.1s ease-in;

    &:hover {
      box-shadow: 0 0 2rem rgba(var.$color-black, 0.2);
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 1rem;
      background-image: url("./../../../assets/title-box.svg");
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: 105% 80%;
      opacity: 0.05;
      filter: grayscale(0.5);
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -5rem;
      left: 50%;
      border-radius: 1rem;
      background-image: url("./../../../assets/layout/dashed-line.svg");
      background-repeat: no-repeat;
    }

    &--blue {
      color: var.$color-white;
      background: var.$gradient-step-blue;
      justify-self: right;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 1rem;
        background-image: url("./../../../assets/title-box.svg");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 105% 80%;
        opacity: 0.1;
        filter: brightness(12.6);
      }
    }
  }
  &__icon {
    position: relative;
    top: -4rem;
    left: 0px;
    z-index: 2;

    &--small {
      position: absolute;
      width: 12rem;
      top: -6rem;
      left: 50%;
      transform: translateX(-62%);
      stroke: var.$color-white;
      z-index: 222;
      filter: drop-shadow(4px 6px 4px rgba(var.$color-shadow-warm, 0.2));
    }
    &--big {
      position: absolute;
      width: 14rem;
      top: -6rem;
      left: 50%;
      transform: translateX(-47%);
      stroke: var.$color-white;
      z-index: 222;
      filter: drop-shadow(4px 6px 4px rgba(var.$color-shadow-warm, 0.2));
    }
    &--dark {
      fill: var.$color-step-icon-dark;
    }
    &--light {
      fill: var.$color-step-icon-light;
    }
  }
  &__title {
    position: relative;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 6rem;
  }
  &__text {
    position: relative;
    margin-top: 2rem;
  }
}

@media (max-width: 1070px) {
  .steps {
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem 4rem;

    &__item {
      &:nth-child(2):after {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .steps {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    &__item {
      &--blue {
        justify-self: center;
      }
    }
    &__item::after {
      display: none;
    }
  }
}

@include mix.slideInUp;
