@use "./variables.scss" as var;

@mixin wrap {
  max-width: 120rem;
  margin: 0 auto;
}

@mixin bg-gradient-dotted {
  background-image: url("/src/assets/bg-elements/bg-dotted.svg"),
    var.$gradient-main-top-dark;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin bg-gradient-circles {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-elements/bg-circles.svg);
    opacity: 0.2;
    z-index: -1;
  }
}

@mixin bg-city-top {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 8rem;
    top: 0.1rem;
    left: 0;
    transform: translateY(-100%);
    background-image: url(../../../assets/layout/city-trans2.svg);
    background-repeat: repeat-x;
    background-size: cover;
    filter: drop-shadow(6px 3px 4px rgba(0, 0, 0, 0.3));
    z-index: -1;
  }
}
@mixin bg-city-bottom {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 8rem;
    bottom: 0;
    transform: translateY(100%);
    background-image: url(../../../assets/layout/city-trans.svg);
    background-repeat: repeat-x;
    background-size: cover;
    filter: drop-shadow(6px 3px 4px rgba(0, 0, 0, 0.3));
    z-index: -1;
  }
}

/////////// ANIMATION ///////////////

@mixin slideInLeft {
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

@mixin slideInRight {
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

@mixin slideInUp {
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(2.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

@mixin slideInDown {
  @keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

@mixin spin {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

// @mixin spinSlide {
//   @keyframes spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }
// }
