$font-family-primary: "Raleway", sans-serif;
$color-primary: #0037ba;
$color-secondary: #eacc48;
$color-tertiary: #c2005e;
$color-white: #fff;
$color-red: #c2005e;
$color-yellow: #eacc48;
$color-gray: #b7b7b7;
$color-gray-light: #e6f2fb;
$color-violet: #7d6b9a;
$color-violet-dark: #8a2be2;
$color-violet-light: #e9d8f6;
$color-green: #2abead;
$color-text-primary: #180e44;
$color-text-dark: #2a1976;
$color-text-white: #fff;
$color-text-gray: #acacac;
$color-background-gray: #f6f9ff;
$color-background-gray-light: #fafafa;
$gradient-main-top-dark: linear-gradient(to top, #c2005e, #0037ba);
$drop-shadow: drop-shadow(2px 3px 5px rgba(22, 0, 0, 0.1));
