@use "../variables/variables.scss" as var;

.button-submint {
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var.$color-secondary;
  padding: 1.6rem 3rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0 1.3rem 0.1rem var.$color-secondary;
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 1rem 0rem var.$color-secondary;
  }

  &:disabled {
    transform: translateY(1px);
    background-color: #b1b1b1;
    box-shadow: 0 0 1rem 0rem rgb(172, 172, 172);
    cursor: not-allowed;
  }
}
