@use "sass:color";
@use "./../variables/variables.scss" as var;

.link {
  display: inline-block;
  color: var.$color-link;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;

  &:hover {
    color: color.adjust(var.$color-link, $lightness: 7%);
  }

  & svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
