@use "../../../variables/variables.scss" as var;
@use "../../../variables/mixins.scss" as mix;

.cta-sections {
  position: relative;
  color: #fff;
  @include mix.bg-gradient-dotted;
  background-position: 0 84%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 8rem;
    bottom: 0;
    transform: translateY(100%);
    background-image: url(../../../assets/layout/city-trans.svg);
    background-repeat: repeat-x;
    background-size: cover;
    filter: drop-shadow(6px 3px 4px rgba(0, 0, 0, 0.3));
    z-index: -1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 15px;
    background: linear-gradient(to bottom, transparent, var.$color-primary);
    position: absolute;
    top: -15px;
  }
}
.cta {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 5.5rem 0rem 5rem;
    max-width: 120rem;
    margin: 0 auto;
    opacity: 0;

    &--animate {
      animation: slideInUp 1s ease forwards;
    }
  }

  &__title {
    font-size: 3.2rem;
    & span {
      white-space: nowrap;
    }
  }

  &__text {
    font-size: 2rem;
    max-width: 75rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 1280px) {
  .cta {
    &__container {
      max-width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .cta {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 3.2rem;
      text-align: center;
    }

    &__text {
      font-size: 1.8rem;
      text-align: center;
    }
    &__btn {
      width: 30rem;
    }
  }
}

@media (max-width: 485px) {
  .cta {
    &__title {
      font-size: 2.8rem;
    }

    &__text {
      font-size: 1.6rem;
    }
    &__btn {
      width: 30rem;
    }
  }
}

@include mix.slideInUp;
