@use "../../variables/variables.scss" as var;

.select {
  position: relative;
  &__arrow {
    display: block;
    position: absolute;
    right: 0.2rem;
    top: 0.4rem;
    color: var.$color-text-gray;
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.3rem;
    padding-left: 3.4rem;
    border: 1px solid var.$color-text-gray;
    border-radius: 1rem;
    background-color: var.$color-white;
    color: var.$color-text-primary;
    text-align: left;
    cursor: pointer;

    &:focus {
      outline: 1px solid var.$color-violet-dark;
    }
  }

  &__placeholder {
    color: var.$color-input-placeholder;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    stroke: var.$color-violet-dark;
    pointer-events: none;
    &--box {
      fill: rgba(var.$color-violet-dark, 0.5);
      stroke-width: 0.1px;
    }
  }

  &__label {
    display: grid;
    cursor: pointer;
    align-items: center;
    gap: 0.7rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    transition: all 0.3s;

    &:hover {
      background-color: var.$color-violet-light !important;
    }

    &[data-focus] {
      background-color: var.$color-violet-light;
      outline: none;
    }

    &[data-selected] {
      background-color: var.$color-gray-light;
    }
  }

  &__field {
    position: absolute;
    background-color: var.$color-white;
    width: 94%;
    height: 25rem;
    margin-left: 3%;
    padding: 0 0rem 0.6rem 1rem;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
    margin-top: 0.4rem;
    border: none;

    &-container {
      height: 100%;
      overflow-y: scroll;
      overscroll-behavior: contain;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    font-weight: 600;
  }

  &__img {
    width: 4rem;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 1.2rem;
  }
  &__size {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
