@use "../../../variables/variables.scss" as var;
@use "../../../variables/mixins.scss" as mix;

.solution-section {
  position: relative;
  overflow: hidden;
}

.triangle {
  position: absolute;
  opacity: 0.1;
  width: 18rem;
  bottom: 3rem;
  left: 2rem;
  fill: var.$color-violet-dark;
  animation: fly 5.5s infinite ease-in;
  z-index: -1;
}

.square-container {
  position: absolute;
  width: 18rem;
  height: 18rem;
  top: -6rem;
  left: 30%;
  animation: fly 5.5s infinite linear;
}

.square {
  // position: absolute;
  opacity: 0.2;
  width: 18rem;
  height: 18rem;
  top: 0;
  left: 0;
  // top: -6rem;
  // left: 30%;
  fill: var.$color-violet-dark;
  // animation: fly 5.5s infinite ease-in;
  animation: spin 18s infinite linear;
}

.container {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  gap: 4.6rem;
}

.solution {
  opacity: 0;

  & p:nth-child(3) {
    padding-left: 1rem;
    border-left: 3px solid var.$color-primary;
  }

  &--animate {
    animation: slideInUp 1s ease forwards;
  }
}

.solution__title {
}

.solution__text {
  margin-top: 2rem;
}

.solution-content {
  &__card {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  &__icon {
    width: 16rem;
  }

  &__text {
  }
}

.solution-image {
  width: 45%;
  filter: drop-shadow(2px 3px 5px rgba(22, 0, 0, 0.1));
  flex-shrink: 0;
  opacity: 0;

  &--animate {
    animation: slideInUp 1s ease forwards;
  }
}

.slider {
  opacity: 0;
  &--animate {
    animation: slideInUp 1s ease forwards;
  }
}

@keyframes fly {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(2.5rem);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .solution-image {
    display: none;
  }
}

@include mix.slideInUp;
@include mix.spin;
