@use "../../../variables/variables.scss" as var;
@use "../../../variables/mixins.scss" as mix;

.calculator-section {
  position: relative;
  height: 70rem;
  z-index: 222;

  &__title {
    font-size: 3.2rem;
  }
}

.calculator-container {
  // min-width: 100rem;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(32, 32, 32, 0.4);
  opacity: 0;

  &--animate {
    animation: slideInUp 1s forwards;
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //   flex-direction: column;
  gap: 2rem;
  //   background-color: #fff;
  //   padding: 4rem;

  border-radius: 1rem;
  margin-top: 3rem;

  &__field {
    position: relative;
  }
  &__input {
    padding-left: 3.2rem;
    &--select {
      cursor: pointer;
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      width: 2.5rem;
      stroke: var.$color-violet-dark;
      &--box {
        fill: rgba(var.$color-violet-dark, 0.5);
        stroke-width: 0.1px;
      }
    }
  }

  &__options {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    border: none;

    &-label {
      cursor: pointer;
      font-size: 1.4rem;
      padding: 1.5rem;
      border: 2px solid var.$color-gray;
      border-radius: 1rem;
      transition: all 0.3s;

      &:hover {
        border: 2px solid lighten(var.$color-primary, 20%);
      }
    }

    & input {
      display: none;

      &:checked + label {
        border-color: var.$color-violet-dark;
      }
    }
  }

  &__radio {
    display: none;
  }

  &__radio:checked ~ &__select-label {
    background-color: var.$color-gray-light;
  }

  &__select {
    align-self: start;
  }

  &__btn {
    margin-top: 1.5rem;
  }

  &__form-title {
    font-size: 2.8rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  &__successful {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;

    & span {
      display: block;
    }
  }
}

@media (max-width: 1000px) {
  .calculator__options {
    &-label {
      padding: 0.8rem;
    }
  }
}

@media (max-width: 1000px) {
  .calculator {
    grid-template-columns: repeat(2, 1fr);
    &__select {
      align-self: flex-end;
    }
  }
}

@media (max-width: 600px) {
  .calculator {
    grid-template-columns: 1fr;
    gap: 3rem;
    // &__select {
    //   align-self: flex-end;
    // }
  }
  .calculator-wrap {
    padding-top: 3rem !important;
  }
}

@media (max-width: 425px) {
  .calculator-section {
    &__title {
      font-size: 2.4rem;
    }
  }
  .calculator-container {
    padding: 4rem 3rem;
  }
}

@include mix.slideInUp;
