@use "./variables/variables.scss" as var;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.cls-1 {
  fill: var.$color-primary;
}

body {
  font-size: 1.6rem;
  color: var.$color-text-primary;
  font-family: var.$font-family-primary;
  line-height: 1.4;

  max-width: 100%;
}

#root {
  overflow: hidden;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
