.ctmi-1 {
  opacity: 0.48;
}
.ctmi-2,
.ctmi-3 {
  fill: #464849;
}
.ctmi-4 {
  fill: #343b3a;
}
.ctmi-5,
.ctmi-6 {
  fill: #17201f;
}
.ctmi-3,
.ctmi-6 {
  opacity: 0.29;
}

.ctmi-7 {
  opacity: 0.52;
}
.polygon.ctmi-10,
.ctmi-11,
.ctmi-8,
.ctmi-9 {
  fill: #7a7a7a;
}
.ctmi-9 {
  opacity: 0.5;
}
.ctmi-10 {
  opacity: 0.33;
}
.ctmi-11 {
  opacity: 0.4;
}

// .city-trans {
//   &-1 &-2 {
//     fill: aqua;
//     color: aqua;
//   }
// }

.animation__slide-in {
  animation: slideIn 1.6s ease-in-out infinite;
  &--delay {
    animation-delay: 0.2s;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-3.5rem);
  }
  100% {
    transform: translateY(0%);
  }
}
