@use "./variables/variables.scss" as var;

.ctmi-1 {
  opacity: 0.48;
}
.ctmi-2,
.ctmi-3 {
  fill: var.$color-illustration-gray;
}
.ctmi-4 {
  fill: var.$color-illustration-dark;
}
.ctmi-5,
.ctmi-6 {
  fill: var.$color-illustration-deep;
}
.ctmi-3,
.ctmi-6 {
  opacity: 0.29;
}

.ctmi-7 {
  opacity: 0.52;
}
.polygon.ctmi-10,
.ctmi-11,
.ctmi-8,
.ctmi-9 {
  fill: var.$color-illustration-muted;
}
.ctmi-9 {
  opacity: 0.5;
}
.ctmi-10 {
  opacity: 0.33;
}
.ctmi-11 {
  opacity: 0.4;
}

.animation__slide-in {
  animation: slideIn 1.6s ease-in-out infinite;
  &--delay {
    animation-delay: 0.2s;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-3.5rem);
  }
  100% {
    transform: translateY(0%);
  }
}
